@model Authentication.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage Your External Logins";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>

    @if (Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().Count() == 0)
    {
        <div>
            <p>
                No external authentication services are currently configured. Please refer to <a href="https://go.microsoft.com/fwlink/?LinkId=313242">this article</a> for guidance on setting up external login support for this ASP.NET application.
            </p>
        </div>
    }
    else
    {
        @if (Model.CurrentLogins.Count > 0)
        {
            <h4>Your Registered Logins</h4>
            <table class="table table-striped">
                <tbody>
                    @foreach (var account in Model.CurrentLogins)
                    {
                        <tr>
                            <td>@account.LoginProvider</td>
                            <td>
                                @if (ViewBag.ShowRemoveButton)
                                {
                                    using (Html.BeginForm("RemoveLogin", "Manage", FormMethod.Post, new { @class = "form-inline" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("loginProvider", account.LoginProvider)
                                        @Html.Hidden("providerKey", account.ProviderKey)
                                        <button type="submit" class="btn btn-danger btn-sm" title="Remove this @account.LoginProvider login from your account">Remove</button>
                                    }
                                }
                                else
                                {
                                    <span>No action available</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (Model.OtherLogins.Count > 0)
        {
            using (Html.BeginForm("LinkLogin", "Manage", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        @foreach (AuthenticationDescription p in Model.OtherLogins)
                        {
                            <button type="submit" class="btn btn-primary btn-sm" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }
                    </p>
                </div>
            }
        }
    }
</main>
